.sidebar {
  width: 260px;
  background: #084298;
  color: #434851;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: rgb(177, 177, 177);
  
  letter-spacing: 1px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-menu a {
  color: #eaf2ff;
  text-decoration: none;
  padding: 12px 15px;
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar-menu a:hover {
  background: rgba(255, 255, 255, 0.15);
}

.sidebar-menu a.active {
  background: #ffffff;
  color: #0d6efd;
  font-weight: 600;
}
